allow untrusted_app_all aquarios_profile_service:service_manager find;
allow untrusted_app_all aquarios_style_service:service_manager find;
allow untrusted_app_all aquarios_weather_service:service_manager find;
